

#banner {
	width:100%;
}

.principal{
	background: #ecf763;
	padding: 5px;
}

.titulo-principal {
	padding-left: 20px;
	

}

.titulo-centralizado {
	text-align: center;
	color: rgb(1, 57, 1);
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
.myBackground {
	background-image: url(https://img.freepik.com/vetores-premium/mapa-do-mundo-de-alta-resolucao-com-continente-em-cores-diferentes-mapa-do-mundo-de-alto-detalhe_601298-77.jpg?w=740);
	color: rgb(151, 213, 214);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}

.table-transparent {
	background-color: rgba(8, 125, 41, 0.445) !important;
}

