<!DOCTYPE html>
<html>
<head>
    <title>SEAS - Soluções Impacto da Água de Lastro no Transporte Marítimo</title>
</head>
<header>
    <h1>SEAS - Soluções Impacto da Água de Lastro no Transporte Marítimo</h1>
</header>
<body>
    <h1>Selecione o país de origem e destino da Rota da Embarcação</h1>
    <form method="POST" action="{{ url_for('pesquisa_rota') }}">
        <label for="pais_origem">País de Origem:</label>
        <select id="pais_origem" name="pais_origem">
            {% for pais in paises %}
            <option value="{{ pais[0] }}">{{ pais[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="pais_destino">País de Destino:</label>
        <select id="pais_destino" name="pais_destino">
            {% for pais in paises %}
            <option value="{{ pais[0] }}">{{ pais[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
