<!DOCTYPE html>
<html>
<head>
    <title>Resultados da Pesquisa</title>
</head>
    <body>
    <h1>Resultados da Pesquisa</h1>
        <form method="POST" action="{{ url_for('enviar_resultados') }}">
            <table>
                <thead>
                    <tr>
                        <th>Filo</th>
                        <th>Quantidade
                            Espécies</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultados %}
                    <tr>
                        <td >{{ resultado[0] }}</td>
                        <td >{{ resultado[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for resultado in resultados %}
                <input type="hidden" name="filo" value="{{ resultado[0] }}">
                <input type="hidden" name="quantidade" value="{{ resultado[1] }}">
            {% endfor %}
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
