<!DOCTYPE html>
<html>
<head>
    <title>Resultados da Pesquisa</title>
</head>
<body>
    <h1>Resultados da Pesquisa</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>País</th>
                <th>Nome da Espécie</th>
                <th>Filo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado[0] }}</td>
                <td>{{ resultado[1] }}</td>
                <td>{{ resultado[2] }}</td>
                <td>{{ resultado[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
